header {
  position: fixed;
  border-bottom: 1px solid black;
  height:75px;
  background-color: white;
}

.background-gradient {

  background: linear-gradient(#C8EEDC 0%, #FFFFFF 10%, #FFFFFF 90%, #C8EEDC 100%);

}
