.page-para-que {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  @media(max-width: $screen-m){
    grid-template-columns: 1fr;
  }
  .marquee1, .marquee2 {
    grid-column: 1 / 4;
    // z-index: -1;
    overflow:hidden;
    text-transform: uppercase;
  }

  .marquee2 {

  }
  .text1 {
    grid-column: 1 / 3;
    // border-right: 1px solid black;
    // border-bottom: 1px solid black;
    @media(max-width: $screen-m){
      grid-column: 1;
      border-right: revert;
      .border-r-abs {
        display: none;
      }
    }
    @media(max-width: $screen-s){
    }
    p:nth-of-type(1){
      display: inline;
    }
  }
  .empty {
    // border-bottom: 1px solid black;
    @media(max-width: $screen-m){
      display: none;
    }
  }
  .text2 {
    grid-column: 1;
    // border-right: 1px solid black;
    // border-bottom: 1px solid black;

    @media(max-width: $screen-m){
     // border-bottom: 1px solid black;
     // border-right: revert;
     .border-r-abs {
        display: none;
      }
    }
    @media(max-width: $screen-s){
      display: none;
    }
  }

  .text2-mobile {
    display: none;
    grid-column: 1;
    @media(max-width: $screen-s){
      .border-r-abs {
          display: none;
        }
    }
    p {
      margin-bottom:0;
    }
    .li-text2 {
      display: none;
      margin-top:10px;
      margin-left: 16px;
    }
    .close {
      display: none;
    }
    @media(max-width: $screen-s){
      display: block;
    }

  }
  .circles {
    grid-column: 2 / 4;
    grid-row: 3;
    // border-bottom: 1px solid black;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // display: grid;
    display:flex;
    justify-content: center;
    align-items: cener;
    // grid-template-columns: 1fr 1fr 1fr;
    // grid-template-rows: 200px 200px 200px;
    @media(max-width: $screen-m){
      grid-column: 1;
      grid-row: revert;
    }
    @media(max-width: $screen-s){
      // grid-template-rows: 150px 150px 150px;
    }


    .circle1 {
      grid-column: 1;
      grid-row: 1;
      // justify-self:flex-end;
      // align-self: flex-end;
    }
    .circle2 {
      grid-column: 1;
      grid-row: 3;
      // justify-self:flex-end;

    }
    .circle3 {
      grid-column: 2;
      grid-row: 2;
      // justify-self: center;
      // align-self: center;

    }
    .circle4 {
      grid-column: 3;
      grid-row: 1;
      // align-self: flex-end;

    }
    .circle5 {
      grid-column: 3;
      grid-row: 3;
    }


    img,svg {
      width: 100%;
      max-width: 800px;
      margin: auto;
      circle, path.arrow{
        fill: none;
        stroke: #232323;
        stroke-width: 1;
        transition: all 5s ease-in-out;
        stroke-dashoffset: 1000;
      }
      path.arrow {
        transition: all 12s ease-in-out;
      }
    }

  }

}
