@font-face {
  font-family: Everett;
  src: url('../fonts/Everett-Regular.otf');
}
@font-face {
  font-family: EverettLight;
  src: url('../fonts/Everett-Light.otf');
}


$text-xl: 70px;
$text-l: 61px;
$text-m: 25px;
$text-s: 19px;
$text-xs: 16px;

$screen-m: 1000px;
$screen-s: 480px;

a {
  color: inherit !important;
  text-decoration: none !important;
  cursor: inherit;
  cursor: pointer;
  font-family: inherit;
}
a:visited {
  color: unset;
}

* {
  -webkit-hyphens: none !important;
  -ms-hyphens: none !important;
  hyphens: none;
  min-height: 0;
  min-width: 0;
}
p {
  hyphens: none !important;
}
html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-weight: 400;
}
.custom-underline {
  width:max-content;
  display:block;
}
.custom-underline::after {
  content: "";
  height:1px;
  background-color:black;
  margin-top:3px;
  display: block;
}

ul {
  margin-bottom: 0;
}

ol {
  list-style-type: revert;
}

body {
  font-family: Everett;
}

.text-xl {
	font-size: $text-xl;
  @media (max-width: $screen-m){
    font-size: $text-l;
  }
  @media (max-width: $screen-s){
    font-size: 40px;
  }
}
.text-l {
	font-size: $text-l;
  @media (max-width: $screen-m){
    font-size: 50px;
  }
  @media (max-width: $screen-s){
    font-size: 26px;
  }
}
.text-m {
	font-size: $text-m;
  @media (max-width: $screen-m){
    font-size: 23px;
  }
  @media (max-width: $screen-s){
    font-size: 19px;
  }
}
.text-s {
	font-size: $text-s;
  @media (max-width: $screen-m){
    font-size: 17px;
  }
  @media (max-width: $screen-s){
    font-size: 15px;
  }
}
.text-xs {
	font-size: $text-xs;
  @media (max-width: $screen-m){
    font-size: 14px;
  }
  @media (max-width: $screen-s){

  }
}

.everett-light {
  font-family: EverettLight;
}

.border-t {
	border-top: 1px solid #000000;
}
.border-b {
	border-bottom: 1px solid #000000;
}
.border-l {
	border-left: 1px solid #000000;
}
.border-r {
	border-right: 1px solid #000000;
}

.borders-x {
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
}

.borders-trb {
	border-top: 1px solid #000000;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
}

.border-b-abs {
  position: absolute;
  bottom:0;
  width:0;
  border-bottom: 1px solid #000000;
  transition: width 1s;
}
.border-t-abs {
  position: absolute;
  top:0;
  // left:0;
  // right:0;
  width:0;
  border-bottom: 1px solid #000000;
  transition: width 1s;
}
.border-r-abs {
  position: absolute;
  top:0;
  right:0;
  height:0;
  border-right: 1px solid #000000;
  transition: height 1s;
}
.border-l-abs {
  position: absolute;
  top:0;
  left:0;
  height:0;
  border-right: 1px solid #000000;
  transition: height 1s;
}

.pos-rel {
  position:relative;
}

.x-padding {
  padding: 0 50px;
  @media (max-width: $screen-m){
    padding: 0 24px;
  }
  @media (max-width: $screen-s){
    padding: 0 15px;
  }
}

.section-dot {
  background-color: transparent;
  width:15px;
  height:15px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: baseline;
  margin-right: 10px;
  // margin-bottom:3px;
  border: 1px solid black;
}

.bg-black {
  background-color:black;
}

.cursor-pointer {
  cursor: pointer;
}
