a {
  color: inherit !important;
  text-decoration: none !important;
  cursor: inherit; }

a:visited {
  color: unset; }

.text-xl {
  font-size: 70px; }

.text-l {
  font-size: 61px; }

.text-m {
  font-size: 25px; }

.text-s {
  font-size: 19px; }

.text-xs {
  font-size: 16px; }

.border-top {
  border-top: 1px solid #000000; }

.border-bottom {
  border-bottom: 1px solid #000000; }

.border-left {
  border-left: 1px solid #000000; }

.border-right {
  border-right: 1px solid #000000; }

.borders-x {
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000; }

.borders-trb {
  border-top: 1px solid #000000;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000; }

.horizontal-borders {
  border-bottom: 1px solid black; }

.texts-2-3-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }
  .texts-2-3-4 .text-2 {
    border-right: 1px solid black; }
  .texts-2-3-4 .text-3 {
    border-right: 1px solid black; }

.page-intro .main-text {
  padding-top: 75px; }

.page-para-que {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }
  @media (max-width: 768px) {
    .page-para-que {
      grid-template-columns: 1fr; } }

.page-sobre-mi {
  display: grid;
  grid-template-columns: 1fr 1fr; }
  @media (max-width: 768px) {
    .page-sobre-mi {
      grid-template-columns: 1fr; } }

.page-servicios {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }
  @media (max-width: 768px) {
    .page-servicios {
      grid-template-columns: 1fr 1fr; } }
  @media (max-width: 480px) {
    .page-servicios {
      grid-template-columns: 1fr; } }

.page-contacto {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }
  .page-contacto .main-text {
    grid-column: 1 / 4; }
  @media (max-width: 768px) {
    .page-contacto {
      grid-template-columns: 1fr 1fr; } }
  @media (max-width: 480px) {
    .page-contacto {
      grid-template-columns: 1fr; } }

header {
  position: fixed;
  border-bottom: 1px solid black;
  height: 75px; }

.background-gradient {
  background: linear-gradient(#C8EEDC 0%, #FFFFFF 10%, #FFFFFF 90%, #C8EEDC 100%); }

.background-fixed-footer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, rgba(8, 202, 120, 0.3) 0%, rgba(196, 196, 196, 0) 100%);
  transform: rotate(-180deg);
  z-index: -1; }
