@font-face {
  font-family: Everett;
  src: url("../fonts/Everett-Regular.otf"); }

@font-face {
  font-family: EverettLight;
  src: url("../fonts/Everett-Light.otf"); }

a {
  color: inherit !important;
  text-decoration: none !important;
  cursor: inherit;
  cursor: pointer;
  font-family: inherit; }

a:visited {
  color: unset; }

* {
  -webkit-hyphens: none !important;
  -ms-hyphens: none !important;
  hyphens: none;
  min-height: 0;
  min-width: 0; }

p {
  hyphens: none !important; }

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 400; }

.custom-underline {
  width: max-content;
  display: block; }

.custom-underline::after {
  content: "";
  height: 1px;
  background-color: black;
  margin-top: 3px;
  display: block; }

ul {
  margin-bottom: 0; }

ol {
  list-style-type: revert; }

body {
  font-family: Everett; }

.text-xl {
  font-size: 70px; }
  @media (max-width: 1000px) {
    .text-xl {
      font-size: 61px; } }
  @media (max-width: 480px) {
    .text-xl {
      font-size: 40px; } }

.text-l {
  font-size: 61px; }
  @media (max-width: 1000px) {
    .text-l {
      font-size: 50px; } }
  @media (max-width: 480px) {
    .text-l {
      font-size: 26px; } }

.text-m {
  font-size: 25px; }
  @media (max-width: 1000px) {
    .text-m {
      font-size: 23px; } }
  @media (max-width: 480px) {
    .text-m {
      font-size: 19px; } }

.text-s {
  font-size: 19px; }
  @media (max-width: 1000px) {
    .text-s {
      font-size: 17px; } }
  @media (max-width: 480px) {
    .text-s {
      font-size: 15px; } }

.text-xs {
  font-size: 16px; }
  @media (max-width: 1000px) {
    .text-xs {
      font-size: 14px; } }

.everett-light {
  font-family: EverettLight; }

.border-t {
  border-top: 1px solid #000000; }

.border-b {
  border-bottom: 1px solid #000000; }

.border-l {
  border-left: 1px solid #000000; }

.border-r {
  border-right: 1px solid #000000; }

.borders-x {
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000; }

.borders-trb {
  border-top: 1px solid #000000;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000; }

.border-b-abs {
  position: absolute;
  bottom: 0;
  width: 0;
  border-bottom: 1px solid #000000;
  transition: width 1s; }

.border-t-abs {
  position: absolute;
  top: 0;
  width: 0;
  border-bottom: 1px solid #000000;
  transition: width 1s; }

.border-r-abs {
  position: absolute;
  top: 0;
  right: 0;
  height: 0;
  border-right: 1px solid #000000;
  transition: height 1s; }

.border-l-abs {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  border-right: 1px solid #000000;
  transition: height 1s; }

.pos-rel {
  position: relative; }

.x-padding {
  padding: 0 50px; }
  @media (max-width: 1000px) {
    .x-padding {
      padding: 0 24px; } }
  @media (max-width: 480px) {
    .x-padding {
      padding: 0 15px; } }

.section-dot {
  background-color: transparent;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: baseline;
  margin-right: 10px;
  border: 1px solid black; }

.bg-black {
  background-color: black; }

.cursor-pointer {
  cursor: pointer; }

.page-intro .main-text {
  padding-top: 75px;
  line-height: 73.2px; }
  @media (max-width: 1000px) {
    .page-intro .main-text {
      line-height: 60px; } }
  @media (max-width: 480px) {
    .page-intro .main-text {
      line-height: 31.2px; } }
  .page-intro .main-text .dot {
    background-color: black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: baseline;
    margin-right: 15px; }
    @media (max-width: 1000px) {
      .page-intro .main-text .dot {
        width: 40px;
        height: 40px; } }
    @media (max-width: 480px) {
      .page-intro .main-text .dot {
        width: 30px;
        height: 30px; } }

.page-intro .texts-2-3-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }
  @media (max-width: 1000px) {
    .page-intro .texts-2-3-4 {
      grid-template-columns: 1fr 1fr; } }
  @media (max-width: 480px) {
    .page-intro .texts-2-3-4 {
      grid-template-columns: 1fr; } }
  @media (max-width: 1000px) {
    .page-intro .texts-2-3-4 .text-2 {
      border-bottom: 1px solid black; } }
  @media (max-width: 480px) {
    .page-intro .texts-2-3-4 .text-2 .border-r-abs {
      display: none; } }
  @media (max-width: 1000px) {
    .page-intro .texts-2-3-4 .text-3 {
      border-right: revert;
      border-bottom: 1px solid black; }
      .page-intro .texts-2-3-4 .text-3 .border-r-abs {
        display: none; } }
  @media (max-width: 480px) {
    .page-intro .texts-2-3-4 .text-3 .border-r-abs {
      display: none; } }
  .page-intro .texts-2-3-4 .text-4 .border-r-abs {
    display: none; }
  @media (max-width: 1000px) {
    .page-intro .texts-2-3-4 .text-4 .border-r-abs {
      display: block; } }
  @media (max-width: 480px) {
    .page-intro .texts-2-3-4 .text-4 .border-r-abs {
      display: none; } }

.page-para-que {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }
  @media (max-width: 1000px) {
    .page-para-que {
      grid-template-columns: 1fr; } }
  .page-para-que .marquee1, .page-para-que .marquee2 {
    grid-column: 1 / 4;
    overflow: hidden;
    text-transform: uppercase; }
  .page-para-que .text1 {
    grid-column: 1 / 3; }
    @media (max-width: 1000px) {
      .page-para-que .text1 {
        grid-column: 1;
        border-right: revert; }
        .page-para-que .text1 .border-r-abs {
          display: none; } }
    .page-para-que .text1 p:nth-of-type(1) {
      display: inline; }
  @media (max-width: 1000px) {
    .page-para-que .empty {
      display: none; } }
  .page-para-que .text2 {
    grid-column: 1; }
    @media (max-width: 1000px) {
      .page-para-que .text2 .border-r-abs {
        display: none; } }
    @media (max-width: 480px) {
      .page-para-que .text2 {
        display: none; } }
  .page-para-que .text2-mobile {
    display: none;
    grid-column: 1; }
    @media (max-width: 480px) {
      .page-para-que .text2-mobile .border-r-abs {
        display: none; } }
    .page-para-que .text2-mobile p {
      margin-bottom: 0; }
    .page-para-que .text2-mobile .li-text2 {
      display: none;
      margin-top: 10px;
      margin-left: 16px; }
    .page-para-que .text2-mobile .close {
      display: none; }
    @media (max-width: 480px) {
      .page-para-que .text2-mobile {
        display: block; } }
  .page-para-que .circles {
    grid-column: 2 / 4;
    grid-row: 3;
    display: flex;
    justify-content: center;
    align-items: cener; }
    .page-para-que .circles #svg-mobile {
      display: none; }
    @media (max-width: 1000px) {
      .page-para-que .circles {
        grid-column: 1;
        grid-row: revert; } }
    @media (max-width: 480px) {
      .page-para-que .circles #svg-mobile {
        display: block; }
      .page-para-que .circles #svg-desktop {
        display: none; } }
    .page-para-que .circles .circle1 {
      grid-column: 1;
      grid-row: 1; }
    .page-para-que .circles .circle2 {
      grid-column: 1;
      grid-row: 3; }
    .page-para-que .circles .circle3 {
      grid-column: 2;
      grid-row: 2; }
    .page-para-que .circles .circle4 {
      grid-column: 3;
      grid-row: 1; }
    .page-para-que .circles .circle5 {
      grid-column: 3;
      grid-row: 3; }
    .page-para-que .circles img, .page-para-que .circles svg {
      width: 100%;
      max-width: 800px;
      margin: auto; }
      .page-para-que .circles img circle, .page-para-que .circles img path.arrow, .page-para-que .circles svg circle, .page-para-que .circles svg path.arrow {
        fill: none;
        stroke: #232323;
        stroke-width: 1;
        transition: all 5s ease-in-out;
        stroke-dashoffset: 1000; }
      .page-para-que .circles img path.arrow, .page-para-que .circles svg path.arrow {
        transition: all 12s ease-in-out; }

.page-sobre-mi {
  display: grid;
  grid-template-columns: 50% 50%;
  position: relative; }
  @media (max-width: 1000px) {
    .page-sobre-mi {
      grid-template-columns: 100%; } }
  .page-sobre-mi #sobre-mi {
    position: absolute;
    top: -75px; }
  .page-sobre-mi .text1 {
    grid-column: 2;
    display: flex;
    flex-direction: column; }
    @media (max-width: 1000px) {
      .page-sobre-mi .text1 {
        grid-column: 1;
        border-left: revert; }
        .page-sobre-mi .text1 .border-l-abs {
          display: none; } }
    .page-sobre-mi .text1 p:nth-of-type(1) {
      display: inline; }
    .page-sobre-mi .text1 .more {
      padding: 15px 45px;
      border: 1px solid black;
      border-radius: 30px;
      width: fit-content; }
    .page-sobre-mi .text1 .more:hover {
      background-color: black;
      color: white; }
  .page-sobre-mi .three-columns {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 33% 33% 33%; }
    @media (max-width: 1000px) {
      .page-sobre-mi .three-columns {
        grid-template-columns: 1fr 1fr; } }
    @media (max-width: 480px) {
      .page-sobre-mi .three-columns {
        grid-template-columns: 1fr; } }
    .page-sobre-mi .three-columns .text2 {
      grid-column: 2; }
      .page-sobre-mi .three-columns .text2 .border-b-abs {
        display: none; }
      @media (max-width: 1000px) {
        .page-sobre-mi .three-columns .text2 {
          grid-column: 1; }
          .page-sobre-mi .three-columns .text2 .border-l-abs {
            display: none; } }
      @media (max-width: 480px) {
        .page-sobre-mi .three-columns .text2 .border-b-abs {
          display: block;
          left: 0;
          right: 0; } }
    .page-sobre-mi .three-columns .text3 {
      grid-column: 3; }
      @media (max-width: 1000px) {
        .page-sobre-mi .three-columns .text3 {
          grid-column: 2; } }
      @media (max-width: 480px) {
        .page-sobre-mi .three-columns .text3 {
          grid-column: 1; }
          .page-sobre-mi .three-columns .text3 .border-l-abs {
            display: none; } }
      .page-sobre-mi .three-columns .text3 ul {
        padding-left: 20px !important; }

.page-servicios {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative; }
  @media (max-width: 1000px) {
    .page-servicios {
      grid-template-columns: 1fr 1fr; } }
  @media (max-width: 480px) {
    .page-servicios {
      grid-template-columns: 100%; } }
  .page-servicios #servicios {
    position: absolute;
    top: -75px; }
  .page-servicios .text1 {
    grid-column: 1 / 3; }
    @media (max-width: 1000px) {
      .page-servicios .text1 {
        grid-column: 1 / 2; } }
    @media (max-width: 480px) {
      .page-servicios .text1 {
        grid-column: 1;
        border-right: revert;
        border-bottom: 1px solid black; }
        .page-servicios .text1 .border-r-abs {
          display: none; } }
    .page-servicios .text1 p:nth-of-type(1) {
      display: inline; }
  .page-servicios .text_circle {
    grid-column: 3;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media (max-width: 1000px) {
      .page-servicios .text_circle {
        grid-column: 2; } }
    @media (max-width: 480px) {
      .page-servicios .text_circle {
        grid-column: 1; } }
    .page-servicios .text_circle img {
      width: 70%;
      max-width: 350px;
      -webkit-animation-name: spin;
      -webkit-animation-duration: 8000ms;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
      -moz-animation-name: spin;
      -moz-animation-duration: 8000ms;
      -moz-animation-iteration-count: infinite;
      -moz-animation-timing-function: linear;
      -ms-animation-name: spin;
      -ms-animation-duration: 8000ms;
      -ms-animation-iteration-count: infinite;
      -ms-animation-timing-function: linear;
      animation-name: spin;
      animation-duration: 13000ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear; }

@-ms-keyframes spin {
  .page-servicios .text_circle img from {
    -ms-transform: rotate(0deg); }
  .page-servicios .text_circle img to {
    -ms-transform: rotate(360deg); } }

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg); } }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
  .page-servicios .slider {
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: 15% 70% 15%; }
    @media (max-width: 1000px) {
      .page-servicios .slider {
        grid-column: 1 / 3;
        grid-template-columns: 70% 30%; } }
    @media (max-width: 480px) {
      .page-servicios .slider {
        grid-column: 1;
        grid-template-columns: 50% 50%; } }
    .page-servicios .slider img {
      width: 100px; }
      @media (max-width: 480px) {
        .page-servicios .slider img {
          width: 80px; } }
    .page-servicios .slider .prev-arr {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 50px;
      cursor: pointer; }
      @media (max-width: 1000px) {
        .page-servicios .slider .prev-arr {
          grid-column: 2;
          grid-row: 1;
          border-left: 1px solid black;
          border-right: revert;
          border-bottom: 1px solid black; }
          .page-servicios .slider .prev-arr .border-r-abs {
            display: none; } }
      @media (max-width: 480px) {
        .page-servicios .slider .prev-arr {
          grid-column: 1;
          grid-row: 1;
          border-bottom: 1px solid black;
          border-left: none !important; } }
      .page-servicios .slider .prev-arr path {
        stroke-dashoffset: 1000;
        fill: none;
        stroke: #232323;
        stroke-width: 1;
        transition: all 4s ease-in-out; }
    .page-servicios .slider .next-arr {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 50px;
      cursor: pointer; }
      @media (max-width: 1000px) {
        .page-servicios .slider .next-arr {
          grid-column: 2;
          grid-row: 2; } }
      @media (max-width: 480px) {
        .page-servicios .slider .next-arr {
          grid-column: 2;
          grid-row: 1;
          border-bottom: 1px solid black; } }
  .page-servicios .slider-content {
    width: 100%;
    height: 100%; }
    @media (max-width: 1000px) {
      .page-servicios .slider-content {
        grid-column: 1;
        grid-row: 1 / 3; } }
    @media (max-width: 480px) {
      .page-servicios .slider-content {
        grid-column: 1 / 3;
        grid-row: 2; } }
    .page-servicios .slider-content .servicios-slider {
      width: 100%;
      height: 100%; }
      .page-servicios .slider-content .servicios-slider .slider-item {
        width: 100%;
        height: 100%; }

.page-contacto {
  display: grid;
  grid-template-columns: 33% 33% 33%; }
  @media (max-width: 1000px) {
    .page-contacto {
      grid-template-columns: 1fr 1fr; } }
  @media (max-width: 480px) {
    .page-contacto {
      grid-template-columns: 1fr; }
      .page-contacto .border-r-abs {
        display: none; } }
  @media (max-width: 480px) {
    .page-contacto .info {
      border-bottom: 1px solid black; } }
  .page-contacto .info p:nth-of-type(1) {
    display: inline; }
  @media (max-width: 1000px) {
    .page-contacto .social .border-r-abs {
      display: none; } }
  @media (max-width: 480px) {
    .page-contacto .social .border-l-abs {
      display: none; } }
  .page-contacto .empty {
    grid-column: 3; }
    @media (max-width: 1000px) {
      .page-contacto .empty {
        display: none; } }

header {
  position: fixed;
  border-bottom: 1px solid black;
  height: 75px;
  display: flex;
  align-items: center;
  z-index: 999;
  width: 100%; }
  header .logo {
    min-width: fit-content;
    display: flex;
    align-items: center; }
    header .logo img {
      width: 100px; }
  header .icon-menu {
    display: none;
    cursor: pointer; }
    @media (max-width: 1000px) {
      header .icon-menu {
        display: block; } }

@media (max-width: 1000px) {
  .header-desktop {
    display: none; } }

.background-gradient {
  background: linear-gradient(#C8EEDC 0%, #FFFFFF 20%, #FFFFFF 80%, #C8EEDC 100%);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0; }

.menu-item {
  margin-left: 40px;
  display: flex;
  align-items: center;
  min-width: fit-content; }
  @media (max-width: 1000px) {
    .menu-item {
      margin-left: 20px; } }
  .menu-item a {
    vertical-align: middle; }

.header-mobile {
  display: none; }
  @media (max-width: 1000px) {
    .header-mobile {
      display: flex; } }

#nav-mobile {
  display: none;
  width: 100vw;
  background-color: #FFFFFF;
  height: max-content;
  position: absolute;
  z-index: 99999;
  background-color: #C8EEDC;
  top: 75px;
  left: 0;
  right: 0; }
  #nav-mobile #menu-main-menu-1 {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: white; }
    #nav-mobile #menu-main-menu-1 li {
      margin: 10px 0; }

.background-fixed-footer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, rgba(8, 202, 120, 0.3) 0%, rgba(196, 196, 196, 0) 100%);
  transform: rotate(-180deg);
  z-index: -1; }
